include ../../../components/formElements/input-field/input-field.pug
include ../../../components/formElements/subscribe-field/subscribe-field.pug
include ../../../components/formElements/checkbox/checkbox.pug
include ../../../components/formElements/radio-button/radio-button.pug
include ../../../components/formElements/toggle/toggle.pug

<!DOCTYPE html>
html(lang="en")
    head
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        img(class='icon' src='/img/Group.jpg')
        .form-elements
            .form-elements__input-field="text field"
            .form-elements__input-field1
                +input-field("input-field1","Email")
            .form-elements__input-field2="text field"
            .form-elements__input-field3
                +input-field("input-field2","This is pretty awesome")
            .form-elements__input-field4="masked text field"
            .form-elements__input-field5
                +input-field("input-field3","ДД.ММ.ГГГГ",id="phone")
            .form-elements__input-field6="subscription text field"
            .form-elements__input-field7
                +subscribe-field()
            .form-elements__checkbox="Checkbox Buttons"

            .form-elements__checkbox1
                +checkbox("Можно курить","1")
            .form-elements__checkbox2
                +checkbox("Можно с питомцами","2")
            .form-elements__checkbox3
                +checkbox("Можно пригласить гостей (до 10 человек)","3")

            .form-elements__radio-button="radio buttons"
            form
                .form-elements__radio-button1
                    +radio-batton("Мужчина","1")
                .form-elements__radio-button2
                    +radio-batton("Женщина","1")
            
            .form-elements__toggle="toggle"
            form
                .form-elements__toggle1
                    +toggle()
                .form-elements__toggle2




        